<div id="acquisition-channel">
	<div class="channel-width">	
		<h4>Aquisition Channel</h4>
		<div id="channel-types" class="btn-group btn-group-lg" data-toggle="buttons">
			<button class="btn active">
			  <input type="radio" name="options" id="option1" autocomplete="off" checked> All
			</button>
			<button class="btn">
			  <input type="radio" name="options" id="option2" autocomplete="off"> 
			  Online
			</button>
			<button class="btn">
			  <input type="radio" name="options" id="option3" autocomplete="off"> Offline
			</button>
			<button class="btn">
			  <input type="radio" name="options" id="option3" autocomplete="off"> Organic
			</button>
		</div>
	</div>

	<div class="col-md-3 center-block panel-group" id="subchannel-accordian" role="tablist">
		<div class="panel panel-default">
	    <div class="panel-heading" role="tab" id="subchannel-header">
	      <h4 class="panel-title">
	        <div class="clickable text-center" data-target="#subchannel-collapse" data-parent="subchannel-accordian" data-toggle="collapse">
	          Subchannels
	          <span class="caret"></span>
	        </div>
	      </h4>
	    </div>
	    <div id="subchannel-collapse" class="panel-collapse collapse" role="tabpanel">
	      <ul class="list-group" role="menu">
	      	<li role="presentation" class="list-group-item dropdown-header">Online</li> 
					<%= Ciaoappuser.online_channels.keys.each_with_index do |channel,index| %>
						<div class="list-group-item checkbox">
				      <label>
				      	<input type="checkbox"> <%= channel.titleize %></input>
				      </label>
						</div>
					<% end %>
	        <li class="list-group-item dropdown-header">Offline</li>
	        <%= Ciaoappuser.offline_channels.keys.each_with_index do |channel,index| %>
						<div class="list-group-item checkbox">
				      <label>
				      	<input type="checkbox"> <%= channel.titleize %></input>
				      </label>
						</div>
					<% end %>
	        <li class="list-group-item dropdown-header">Organic</li>
	      </ul>
	    </div>
	  </div>
	</div>
</div>
