<div class="col-md-3">
	<h4>Country</h4>
	<%= select_tag("country_code",options_for_select(Ciaoappuser.titleize_country_codes)) %>

	<h4>State</h4>
		<%= select_tag("state_id",options_for_select(Ciaoappuser.upcase_state_ids)) %>
</div>