<div id="user-filters" class="panel panel-info">
	<div class="panel-heading"><h3>User Filters</h3></div>
	<div class="panel-body">
		
		<%= render "admin/dashboard/geographic_filters"%>

		<%= render "admin/dashboard/demographic_filters"%>

		<%= render "admin/dashboard/aquisition_channel_filters"%>
			
	</div>
</div>