<div class="container">
	<div class="row">
		<div class="col-md-4">
			<h1>Dashboard Reports</h1>
		</div>
		<div class="col-md-6">
			<%= render "users/dashboard_navigation" %>
		</div>
	</div>

	<div class="row">

			<!-- Tab panes -->
	  <div class="tab-content">
	    <div role="tabpanel" class="tab-pane fade in active" id="profit-loss-metrics">
	    	<div class="row">
					<%= render "admin/dashboard/user_filters" %>
				</div>
	    </div>
	    <div role="tabpanel" class="tab-pane fade" id="marketing-metrics">
    		<div class="row">
				<%= render "admin/dashboard/demographic_filters" %>
				</div>
	    </div>
	    <div role="tabpanel" class="tab-pane fade" id="user-metrics">
	    	User Metrics
	    </div>
	    <div role="tabpanel" class="tab-pane fade" id="app-metrics">
	    	App Metrics
	    </div>
	  </div>

	</div>

	

	<div class="row">
		<div class="col-md-4 col-md-offset-2">
		      <h4>Ciao App User Sign Up Count</h4>
		      <%= line_chart @ciaoappuser %>
		</div>
	</div>
</div>
