@import "bootstrap";

#user-filters {

	.btn.active {
		outline: none;
		@extend .btn-primary.active;
	}

	#geographic-column{

	}

	#demographic-column{
	
	}



}

#acquisition-column{
	.channel-width {
		float: left;
		width: 33.33%;
	}
}

#ticker-bar .modal-body-padding{

	.input-group, .input-label {
		padding: 5px;
	}

	.input-label span{
		padding: 10px;
		vertical-align: middle;
	}
}

.clickable{
	cursor:pointer;
}

.vertical-divider {
	height: 80%;
	margin: 0 9px;
	border-left: 1px solid black;
	border-right: 1px solid black;
	}

.col-centered{
    float: none;
    display: block;
    margin: 0px auto;
	}

.col-small {
	@extend .col-md-3;
	@extend .text-center;
}