@import "bootstrap";

#user-filters {

	.vertical-divider {
	height: 80%;
	margin: 0 9px;
	border-left: 1px solid grey;
	border-right: 1px solid grey;
	}

	.btn.active {
		@extend .btn-primary.active
	}

}