<ul class="nav nav-tabs">
	<li class="active"><a href="#">P&L Summary</a></li>
	<li><a href="#">Marketing Metrics</a></li>
	<li><a href="#">User Metrics</a></li>
	<li><a href="#">App Metrics</a></li>
</ul>