<% if user_signed_in? %>
	<div class="sidebar-collapse">    

		<% if current_user.admin? %>
      <%= react_component("AdminSideBarNavList")%>
		<% end %>
		<% if current_user.partner? %>
			<%= react_component("PartnerSideBarNavList")%>
		<% end %>

	  
	</div>
<% end %>